Вам доступна таблица некоторых синтетических данных, на основании которых необходимо выполнить кластеризацию на k=3 кластера методом К-средних.

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import StackingClassifier
import cv2
from imutils import paths
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [ ]:
data_loc = '/content/task9.csv'

In [ ]:
data = pd.read_csv(data_loc)
data

    Object   X   Y  Cluster
0        1  20  20        0
1        2  17  11        1
2        3   1   8        2
3        4  11  11        0
4        5  13  18        1
5        6   1   9        2
6        7   7  18        1
7        8   7   4        0
8        9   5   6        2
9       10   5   5        2
10      11  12   6        2
11      12  18   4        0
12      13  20  14        1
13      14   6  14        2
14      15   7  19        2

In [ ]:
cols = ['X', 'Y']
target = ['Cluster']
X = data[cols].loc[:]
y = data[target].loc[:]

In [ ]:
X

     X   Y
0   20  20
1   17  11
2    1   8
3   11  11
4   13  18
5    1   9
6    7  18
7    7   4
8    5   6
9    5   5
10  12   6
11  18   4
12  20  14
13   6  14
14   7  19

In [ ]:
kMeans = KMeans(n_clusters=3, init=np.array([[14.0, 9.75], [14.25, 15.25], [5.29, 9.57]]), max_iter=100, n_init=1).fit(X)

In [ ]:
pred = kMeans.predict(X)

In [ ]:
import scipy.spatial.distance as sdist
centroids = kMeans.cluster_centers_
centroids[0]

array([14.5,  8. ])

In [ ]:
zero_cluster = np.where(pred == 0)[0]
zero_cluster

array([ 1,  3, 10, 11])

In [ ]:
X.loc[zero_cluster,:]['X']

1     17
3     11
10    12
11    18
Name: X, dtype: int64

In [ ]:
np.mean([((x_i-centroids[0][0])**2 + (y_i-centroids[0][1])**2)**(1/2) for x_i, y_i in zip(X.loc[zero_cluster,:]['X'], X.loc[zero_cluster,:]['Y'])])

4.25788302292088